<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/reset_password.css" %}">
    <title>Feedback Inatel</title>
</head>
<body>

    <div class="container">

        <div class="main">
            <p>Para redefinir sua senha, preencha seu email abaixo. Se sua conta for encontrada no banco de dados, um email será enviado para seu endereço de email, com as instruções sobre como restabelecer seu acesso.</p>


            <p><strong>Endereço de email:</strong></p>
            <input type="email" class="email" placeholder="Email">
        </div>
        <button type="submit">Enviar</button>
    </div>
    
</body>
</html>