<!-- FILEPATH: /c:/DevEnv/Python/PersonalProjects/forms/professores/templates/professores/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Question Form</title>
</head>
<body>
    <h1>Question Form</h1>
    
    <form action="submit_form.php" method="post">
        <h2>Select Questions:</h2>
        
        <ul>
            <li>
                <input type="checkbox" id="question1" name="questions[]" value="Question 1">
                <label for="question1">Question 1</label>
            </li>
            <li>
                <input type="checkbox" id="question2" name="questions[]" value="Question 2">
                <label for="question2">Question 2</label>
            </li>
            <li>
                <input type="checkbox" id="question3" name="questions[]" value="Question 3">
                <label for="question3">Question 3</label>
            </li>
            <!-- Add more questions here -->
        </ul>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>

