body {
    background: url(https://moodle.inatel.br/pluginfile.php/1/theme_alpha/loginbg/1712369813/bginatel.webp);
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container{
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 20px;
}

.email{
    width: 200px;
    height: 20px;
    padding: 4px;
    border: 1px solid lightblue;
    border-radius: 7px;
}

button {
    background: linear-gradient(90deg, #325ebf 0%, #19a0d7 95%);
    margin-top: 40px;
    width: 212px;
    height: 50px;
    color: white;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}